* {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: #fff;
}

body {
  background-color: #242424;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 15rem;
  height: 35rem;
}

.title {
  padding: 1rem;
  font-size: 40px;
  font-weight: 800;
  margin-top: 0;
}

.login-text {
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 800;
  font-size: 30px;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  user-select: none;
}

.image-footer {
  padding: 0;
  margin: 0;
}

.bear {
  position: absolute;
  width: 500px;
  left: -50px;
  top: 240px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
  clip: rect(100px, 1216px, 1216px, 0px);
}

.google {
  width: 65px;
}

.meta {
  width: 80px;
}

#google-login {
  background-color: #363636;
  border-radius: 70px;
  border: none;
  margin: 10px;
  padding: 8px;
}

#meta-login {
  background-color: #363636;
  border-radius: 70px;
  border: none;
  margin: 10px;
  padding: 2px;
}

#meta-login:hover,
#google-login:hover {
  cursor: pointer;
  background-color: #3f3f3f;
}
