* {
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

body {
  background-color: #2a2a2d;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 20rem;
  color: #fff;
  background-color: #2a2a2d;
}

.title {
  font-size: 14px;
  padding: 8px;
  margin-left: 0.5rem;
}

.add-bookmark {
  margin: 3rem;
  font-family: "Inter", sans-serif;
  font-size: large;
  font-weight: bold;
  border: none;
  background-color: #202020;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  width: 70%;
  border-radius: 50px;
  cursor: pointer;
}

.add-bookmark:hover {
  background-color: #3b3b3b;
}

.bookmarks {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2f2f2f;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem;
  font-size: 10px;
  color: #989898;
}

.page-image {
  width: 70px;
  height: 70px;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.page-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  padding-left: 1rem;
  width: 18rem;
}

.default-text {
  margin: 2rem;
}

.default-page-image {
  width: 200px;
  position: relative;
  right: 2.8rem;
  top: 1rem;
}

.default-button {
  display: none;
}

.default-bookmark {
  height: 20rem;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2f2f2f;
  align-content: center;
  justify-content: center;
  text-align: center;
}
